body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header header header";
    background-image: url('/static//img/poseidonBGround.webp');
    background-repeat: no-repeat;
    background-position: right top;
}

.cabecalho{
    grid-area: header;
    text-align: center;
    background:#aa8c21;
    color: white;
    font-size: 35px;
    height: 70%;

}

.efeito{
  grid-area: header;
  color: white;
  height: 0%;
  border:solid;
  margin-top: 5.3%;
  box-shadow: 2px 2px 20px white;
}

h1{
    position: relative;
    margin-top: 10px;
}

.links{
    margin-top: 5%;
    margin-left: 10%;
}

.botao-cadastro,
.botao-delivery,
.botao-reserva {
  border: solid #d0a816;
  box-shadow: 2px 2px 10px white;
  border-radius: 10px;
  margin: 5%;
  height: 100px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.botao-cadastro {
  background-image: url(/static/img/afrodite.webp);
  background-position-x: 0px;
  background-position-y: -390px;
  background-size: 160%;

}

.botao-delivery {
  background-image: url(/static/img/Zeus.webp);
  background-position-x: -250px;
  background-position-y: -320px;
  background-size: 150%;
}

.botao-reserva {
  background-image: url(/static/img/ares.webp);
  background-position-x: -100px;
  background-position-y: -600px;
  background-size: 160%;
}

.botao-cadastro a,
.botao-delivery a,
.botao-reserva a {
  background-color: #d0a816;
  height: 20px;
  width: 150px;
  padding: 10px 10px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  text-shadow: 2px 2px 1px #9e9e9e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-cadastro a:hover,
.botao-delivery a:hover,
.botao-reserva a:hover {
  background-color: #aa8912;
}

h2{
  color: white;
  margin-left: 3%;
}

h3{
  color: white;
  margin-left: 34%;

}

