body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: "header header header";
    background-image: url('/static/img/aresGound.png');
    background-repeat: no-repeat;
    background-position: left top;

  }
  h1 {
    margin-top: 10px;
    color: white;
  }
  .cabecalho{
    grid-area: header;
    text-align: center;
    background:#aa8c21;
    color: white;
    font-size: 35px;
    height: 70%;

  }

  .efeito{
  grid-area: header;
  color: white;
  height: 0%;
  border:solid;
  margin-top: 5.3%;
  box-shadow: 2px 2px 20px white;
  }


  .container {
    border: solid;
    color: white;
    justify-self: end;
    width: 700px;
    height: 300px;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background:white;
    border: solid #9aedfc;
    box-shadow: 2px 2px 10px white;
    border-radius: 10px;
    margin-left: 45px;
  }


  input{
    width: 110%;
  }

  #botao{
    width: 60%;
    position: relative;
    margin-left: 25%;
  }

  .botao-voltar{
    margin-left: 162%;
    margin-top: 9%;
    border: solid #9aedfc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px white;
    height: 80%;
    width: 120%;
    background-image: url(/static/img/poseisom.webp);
    background-position-x: 0px;
    background-position-y: -400px;
    background-size: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  a{

    background-color: #d0a816;
    padding: 10px 9%;
    color: white;
    text-decoration: none; /* Remover sublinhado */
    border-radius: 4px;
    text-align: center;
    text-shadow: 2px 2px 1px #9e9e9e;
    position: relative;
    margin-left: 4.5%;
  }

  a:hover{

    background-color: #aa8912;
  }

  #texto{
  margin-left: 203%;
  width: 273px;
  }

  p{
    color: white;
  }
