<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cardápio</title>
</head>
<body>
    <h1>Cardápio</h1>

        {% for item in itens %}
            <div class="cardapio-item">
                <img src="{{ item.imagem.url }}" alt="{{ item.nome }}">
               <h2>{{ item.nome }}</h2>
                <p>{{ item.descricao }}</p>
                <b> R$ {{ item.preco }}</b>
            </div>
        {% endfor %}

        <style>
            .cardapio-item {
                display: inline-block;
                width: 300px;
                margin-right: 20px;
                margin-bottom: 20px;
                vertical-align: top;
            }

            .cardapio-item img {
                width: 100%;
                height: auto;
            }
        </style>

</body>
</html>
