{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/delivery.css' %}">

    <title>Pedido de Delivery</title>
</head>
<body>
    <header class="cabecalho">

        <h1>ΩLYMPUS ΒURGΞR</h1>

    </header>


    <h1>Pedido de Delivery</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="cliente">Cliente:</label>
        <select name="cliente" id="cliente">
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}" data-endereco="{{ cliente.endereco }}">{{ cliente.nome }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" id="endereco" readonly>
        <br>
        <label for="itens">Itens:</label>
        <br>
        <div class="box-cardapio">
        {% for item in cardapio %}
            <h3>{{ item.nome }}</h3>
            <p>{{ item.descricao }}</p>
            <b> R$ {{ item.preco }}</b> <input type="checkbox" name="itens" value="{{ item.id }}">
            <br>
        </div>
        {% endfor %}
        <br>
        <input type="submit" value="Fazer Pedido">
    </form>

    <script>
        document.getElementById('cliente').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var endereco = selectedOption.getAttribute('data-endereco');
            document.getElementById('endereco').value = endereco;
        });
    </script>
</body>
</html>
